body {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px;
    background-image: url(workplace.jpeg);
}
a{
    text-decoration: none;
}

/*aligning image and genesis*/

.logo-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


/*"Genesis" styling*/

#logo-name {
    letter-spacing: 0.2cap;
}

#Big-G {
    font-size: 2em;
    text-shadow: 0 10px 5px rgba(7, 7, 7, 0.4);
}


/*image*/

#logo-img {
    width: 150px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}


/*home page link*/

#Home {
    text-decoration: none;
    color: black;
}

#Home:hover {
    color: blue;
}


/*"Verified Entrepreneurs Workplace" styling*/

.logo-state {
    font-size: medium;
    margin-left: 200px;
    margin-top: -10px;
}


/*navigators' styling*/

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: large;
    text-decoration: none;
    text-align: end;
    margin-right: 100px;
}

#expl-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

#expl-link:hover {
    color: blue;
}


/*It has the navigators along with the "Genesis" name*/

.nav-dividor {
    display: flex;
    gap: 350px;
    background-color: rgb(239, 239, 208);
    align-items: baseline;
}


/*Description*/

#Subject-Disc {
    font-size: 30px;
    width: 490px;
    margin-left: 30px;
}

#Description {
    width: 600px;
    margin-left: 30px;
    font-size: large;
}


/*Image next to the description*/

#Image {
    float: right;
    border-radius: 4px;
    height: 300px;
    margin-right: 30px;
}


/*Sign up button*/

#Sign-up-btn {
    background-color: yellow;
    border-radius: 8px;
    padding: 7px 45px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 90px;
}

#Sign-up-btn:hover {
    background-color: aqua;
}

/*Sign in Button styling */

.Sign-in-btn {
    background-color: yellow;
    border-radius: 8px;
    padding: 7px 45px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 90px;
}

.Sign-in-btn:hover {
    background-color: aqua;
}

/* What Genesis offers */

#How-Genesis-Oprt {
    margin-left: 500px;
    margin-top: 60px;
    font-size: 29px;
}

/* Genesis operation details */

#div-li {
    display: flex;
    list-style: none;
    gap: 30px;
}

#Tracking-div {
    border: 1px solid;
    height: 250px;
    width: 350px;
    margin-left: 30px;
}

#Tracking {
    font-weight: bold;
}

#Management-div {
    border: 1px solid;
    height: 250px;
    width: 350px;
}

#Management {
    font-weight: bold;
}

#Partnerships-div {
    border: 1px solid;
    height: 250px;
    width: 350px;
}

#Partnerships {
    font-weight: bold;
}

/* Highlights */

#h2-Highlights {
    margin-left: 30px;
}

#Highlights-div {
    margin-left: 30px;
}

#Highlights-ul {
    list-style: circle;
    font-size: large;
    display: flex;
    gap: 30px;
}

/* Bottom dividor */

#Bottom-div {
    background-color: rgb(239, 239, 208);
}
/*the third image*/
#img4{
    float: left;
}
/*backgroud image*/
