body {
    background-color: rgb(0, 30, 255);
    color: rgb(0, 0, 0);
    padding: 0px;
}


/*aligning image and genesis*/

.logo-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


/*"Genesis" styling*/

#logo-name {
    letter-spacing: 0.2cap;
}

#Big-G {
    font-size: 2em;
    text-shadow: 0 10px 5px rgba(7, 7, 7, 0.4);
}


/*image*/

#logo-img {
    width: 150px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}


/*home page link*/

#Home {
    text-decoration: none;
    color: black;
}

#Home:hover {
    color: blue;
}


/*"Verified Entrepreneurs Workplace" styling*/

.logo-state {
    font-size: medium;
    margin-left: 200px;
    margin-top: -10px;
}


/*navigators' styling*/

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: large;
    text-decoration: none;
    text-align: end;
    margin-right: 100px;
}

#expl-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

#expl-link:hover {
    color: blue;
}


/*It has the navigators along with the "Genesis" name*/

.nav-dividor {
    display: flex;
    gap: 350px;
    background-color: rgb(239, 239, 208);
    align-items: baseline;
}


/* Sign in styling */

#Sign-in-div {
    border: 1px solid;
    border-radius: 5px;
    height: 200px;
    width: 400px;
    margin-left: 500px;
    margin-top: 100px;
    background-color: aqua;
    box-shadow: 0 6px 9px rgba(7, 7, 7, 0.4), 0 -1px 1px rgba(255, 255, 255, 0.5) inset;
}

#h2-Login {
    text-align: center;
}

#login-details-ul {
    list-style: none;
    font-weight: medium;
}

.login-det {
    font-weight: medium;
}

#Chkbox {
    margin-left: 110px;
}