*{
    box-sizing: border-box;
}
body {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0px;
    max-width: 1000px;
    margin: auto;
}


/*aligning image and genesis*/

.logo-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


/*"Genesis" styling*/

#logo-name {
    letter-spacing: 0.2cap;
}

#Big-G {
    font-size: 2em;
    text-shadow: 0 10px 5px rgba(7, 7, 7, 0.4);
}


/*image*/

#logo-img {
    width: 150px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}


/*home page link*/

#Home {
    text-decoration: none;
    color: black;
}

#Home:hover {
    color: blue;
}


/*"Verified Entrepreneurs Workplace" styling*/

.logo-state {
    font-size: medium;
    margin-left: 200px;
    margin-top: -10px;
}


/*navigators' styling*/

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: large;
    text-decoration: none;
    text-align: end;
    margin-right: 100px;
}

#expl-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

#expl-link:hover {
    color: blue;
}


/*It has the navigators along with the "Genesis" name*/

.nav-dividor {
    display: flex;
    gap: 260px;
    background-color: rgb(239, 239, 208);
    align-items: baseline;
}


/*Description*/

#Subject-Disc {
    font-size: 30px;
    width: 500px;
    margin-left: 30px;
}

#Description {
    width: 499px;
    margin-left: 30px;
    font-size: large;
}


/*Image next to the description*/

#Image {
    float: right;
    border-radius: 4px;
    height: 300PX;
    margin-right: 30px;
}


/*Sign up button*/

#Sign-up-link {
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
}

#Sign-up-btn {
    background-color: yellow;
    border-radius: 8px;
    font-weight: bold;
    padding: 7px 45px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 30px;
}

#Sign-up-btn:hover {
    background-color: aqua;
}


/*Sign in Button styling */

.Verify-btn {
    background-color: yellow;
    border-radius: 8px;
    padding: 7px 45px;
    border-style: none;
    font-size: medium;
    cursor: pointer;
    margin-left: 90px;
}

#Verify-link {
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
}

.Verify-btn:hover {
    background-color: aqua;
}
aside{
    width: 260px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    border: 2px solid rgb(246, 246, 195);
    padding: 10px 10px;
     
}
section{
    width: 260px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    border: 2px solid rgb(246, 246, 195);
    padding: 10px 10px;
     
}
article{
    width: 260px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid rgb(246, 246, 195);
    padding: 10px 10px;
    
}
h2{
    text-align: center;
}