 
body {
    background-color:blue;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: auto;
}


/*aligning image and genesis*/

.logo-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


/*"Genesis" styling*/

#logo-name {
    letter-spacing: 0.2cap;
}

#Big-G {
    font-size: 2em;
    text-shadow: 0 10px 5px rgba(7, 7, 7, 0.4);
}


/*image*/

#logo-img {
    width: 150px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}


/*home page link*/

#Home {
    text-decoration: none;
    color: black;
}

#Home:hover {
    color: blue;
}


/*"Verified Entrepreneurs Workplace" styling*/

.logo-state {
    font-size: medium;
    margin-left: 200px;
    margin-top: -10px;
}


/*navigators' styling*/

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: large;
    text-decoration: none;
    text-align: end;
    margin-right: 100px;
}

#expl-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

#expl-link:hover {
    color: blue;
}


/*It has the navigators along with the "Genesis" name*/

.nav-dividor {
    display: flex;
    gap: 260px;
    background-color: rgb(239, 239, 208);
    align-items: baseline;
}


/*the blue is box*/
.cont{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    width: 700px;
    box-sizing: border-box;
    margin: auto;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 6px 9px rgba(7, 7, 7, 0.4), 0 -1px 1px rgba(255, 255, 255, 0.5) inset;

}

/*the placeholders sign ups*/
.all{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
.form input{
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 50px;
}
.sign{
    width: 250px;
    padding: 10px;
}
/*the  OR part*/
.divide span{
    display: flex;
    align-items: center;
    width: 30px;
    margin-top: 110px;
    color: black;
}

/*the connect with *** */ 
.social button{
    width: 190px;
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
a{
    color: blue;
    text-decoration: none;
}